apiVersion: v1
baseDomain: "{{ ocp_domain }}" 
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: "{{ ocp_cluster_name }}" 
platform:
  vsphere:
    vcenter: "{{ ocp_vcenter_hostname }}"
    username: "{{ ocp_vcenter_username }}"
    password: "{{ ocp_vcenter_password }}"
    datacenter: "{{ ocp_vcenter_datacenter }}"
    defaultDatastore: "{{ ocp_vcenter_datastore }}"
pullSecret: '{{ ocp_pull_secret }}' 
sshKey: '{{ ocp_ssh_key }}'
{% if ocp_registry_mirror is defined %}
imageContentSources:
- mirrors:
  - {{ ocp_registry_mirror }}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ ocp_registry_mirror }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% endif %}
{% if ocp_proxy_host is defined %}
proxy:
  httpProxy: {{ ocp_proxy_host }} 
  httpsProxy: {{ ocp_proxy_host }}
  noProxy: {{ ocp_proxy_no_proxy }} 
{% endif %}
{% if ocp_additional_trust_bundle is defined %}
additionalTrustBundle: |
{{ ocp_additional_trust_bundle | indent( indentfirst=True)}}
{% endif %}