apiVersion: v1
baseDomain: "{{ ocp_domain }}" 
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: "{{ ocp_cluster_name }}" 
platform:
  vsphere:
    vcenter: "{{ ocp_vcenter_hostname }}"
    username: "{{ ocp_vcenter_username }}"
    password: "{{ ocp_vcenter_password }}"
    datacenter: "{{ ocp_vcenter_datacenter }}"
    defaultDatastore: "{{ ocp_vcenter_datastore }}"
pullSecret: '{{ ocp_pull_secret }}' 
sshKey: '{{ ocp_ssh_key }}' 